---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Fonts
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:300,400,700";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// The Last Chair Colors
$tlc-gray:    #363838;

// Mac's variables
$font-family-montserrat: "Montserrat","sans-serif";
$font-family-lato: "Lato","sans-serif";
$font-family-base: $font-family-lato;
$headings-font-family: $font-family-montserrat;


$body-bg:                    #fff;
$body-color:                 $gray-dark;

$footer-color:               #7f8c8d;

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "fontawesome/font-awesome";

// Components
@import "bootstrap/animation";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/responsive-embed";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/utilities-background";
@import "bootstrap/utilities-spacing";
@import "bootstrap/utilities-responsive";

// Mixins
@mixin button-simple-variant($color, $hovercolor) {
	color: $color;
	background-image: none;
	background-color: transparent;
	border-color: $color;

	&:focus,
	&.focus,
	&:active,
	&.active,
	.open > &.dropdown-toggle {
		color: $hovercolor;
		background-color: $color;
				border-color: $color;
	}
	@include hover {
		color: $hovercolor;
		background-color: $color;
				border-color: $color;
	}

	&.disabled,
	&:disabled {
		&:focus,
		&.focus {
			border-color: lighten($color, 20%);
		}
		@include hover {
			border-color: lighten($color, 20%);
		}
	}
}

body {
	background:$gray-dark;
	color:#ecf0f1;
}

h2 {
	font-size:2rem;
	font-family:$font-family-montserrat;
	font-weight:700;
}

h3 {
	font-size:1rem;
	font-weight:600;
	text-align:center;
	float:center;
	margin-bottom:10px;
	line-height:2;
}

.img-thumbnail {
	border:0;
}

//footer
.site-footer {
	padding:20px 0;
}

footer p {
	line-height:0.8;
	text-align:center;
	font-size:1.125rem;
	font-family:$font-family-lato;
	text-transform:uppercase;
}

.facebook-link {
	color:#fff;
	font-size:3rem;
	&:hover, &:visited, &:active{
		color:#fff;
	}
}

//nav and header
.main-nav {
	.navbar-nav {
		text-align:center;
		.nav-item {
			display:inline-block;
			float:none;
			font-size:1.25rem;
			font-family:$font-family-montserrat;
		}
		.nav-link {
			color:#000;
			&:hover {
				color:$tlc-gray;
			}
		}
	}
}

.site-header {
	background-color:#fff;
}

.header-top {
	background-color:$tlc-gray;
	@include media-breakpoint-up(sm) {
		background:$tlc-gray url('/images/banner.jpg') 50% 0 no-repeat;
		background-size:100%;
		background-attachment:fixed;
		height:200px;
	}
	.container {
		position:relative;
	}
	.header-address {
		text-align:center;
		margin:10px auto;
		max-width:200px;
		a {
			color:#fff;
		}
		@include media-breakpoint-up(sm) {
			background:rgba(0,0,0,0.5);
			border-radius:0 0 10px 10px;
			margin:0;
			padding:40px 10px 10px;
			position:absolute;
				top:0;
				left:20px;
			width:160px;
		}
		@include media-breakpoint-up(md) {
			width:200px;
		}
		@include media-breakpoint-up(lg) {
			left:80px;
		}
	}
	.header-hours {
		margin:10px auto;
		max-width:200px;
		dl {
			margin:0;
			dt, dd {
				float:left;
				width:50%;
			}
			dt {
				clear:both;
			}
			dd {
				text-align:right;
			}
		}
		@include media-breakpoint-up(sm) {
			background:rgba(0,0,0,0.5);
			border-radius:0 0 10px 10px;
			margin:0;
			padding:40px 10px 10px;
			position:absolute;
				top:0;
				right:20px;
			width:160px;
		}
		@include media-breakpoint-up(md) {
			width:200px;
		}
		@include media-breakpoint-up(lg) {
			right:80px;
		}
	}
	.logo {
		display:block;
		margin:0 auto;
		width:200px;
	}
}

// main
.main {
	background:$body-bg;
	color:$body-color;
}

.home-main {
	padding:30px 0 20px;
}

.home-about {
	padding:30px 0 20px;
}

.home-menu {
	background:rgba(0,0,0,0.5);
	color:#fff;
	padding:30px 0 20px;
}

.menu-bg {
	background-color:$tlc-gray;
	@include media-breakpoint-up(md) {
		background:transparent url('/images/menu_sm.jpg') 50% 0 no-repeat;
		background-size:100%;
		background-attachment:fixed;
	}
}

//buttons
.btn-simple {
	@include button-simple-variant(#fff,#222);
}


// menu
.food-title-cost {
	float: right;
	margin-left:5px;
}

.menu-item {
	padding-bottom:5px;
		h4 {
			font-size:1.125rem;
		}
}

.menu {
	h2 {
		margin-bottom:14px;
		font-weight:700;
		font-family:$font-family-montserrat;
		text-align:center;
	}
}

.large-title {
	font-size:2.5rem;
	margin-bottom:20px;
	font-weight:700;
	font-family:$font-family-montserrat;
	text-transform:uppercase;
	text-align:center;
}

.menu-title {
	font-size:2.5rem;
	margin-bottom:40px;
	font-weight:700;
	font-family:$font-family-montserrat;
	text-transform:uppercase;
	text-align:center;
}

