<header class="site-header">
  <div class="header-top">
    <div class="container">
      <a class="logo" href="/">
        <img src="/images/lastchair_logo.svg" width="200" height="200" />
      </a>
      <div class="header-address">
        <a href="{{ site.google_place_link }}">
          <div>{{ site.street_address | escape }}</div>
          <div>{{ site.city_state_zip | escape }}</div>
        </a>
        <div class="telephone"><a href="tel:+{{ site.phone_tel }}">{{ site.phone }}</a></div>
      </div>
      <div class="header-hours">
        <dl class="clearfix">
          <dt class="editable">Monday</dt>
          <dd class="editable">Closed</dd>
          <dt class="editable">Tues-Thurs</dt>
          <dd class="editable">4-9</dd>
          <dt class="editable">Fri-Sat</dt>
          <dd class="editable">11:30-10</dd>
          <dt class="editable">Sunday</dt>
          <dd class="editable">11:30-8</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="container">
    <nav class="navbar navbar-light main-nav">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/menu/">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link-sublime" href="https://www.sublimebrewingco.com/">Sublime Brewing Company</a>
        </li>
      </ul>
    </nav>
  </div>
</header>