<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="javascript/jquery.min.js"><\/script>')</script>
  <script src="/javascript/bootstrap.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/javascript/lightslider/css/lightslider.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/javascript/lightslider/js/lightslider.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#responsive').lightSlider({
        item:2,
        loop:true,
        slideMove:1,
        easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
        speed:600,
        responsive : [
          {
            breakpoint:800,
            settings: {
              item:1,
              slideMove:1,
              slideMargin:1,
            }
          },
          {
            breakpoint:480,
            settings: {
              item:1,
              slideMove:1
            }
          }
        ]
      });
    });
  </script>
</head>