<header class="site-header">
	<div class="header-top">
		<div class="container">
			<a class="logo" href="/">
				<img src="/images/lastchair_logo.svg" width="200" height="200" />
			</a>
			<div class="header-address">
				<div>#5 Route 25</div>
				<div>Plymouth, NH 03264</div>
				<div class="telephone"><a href="tel:+16032389077">(603) 238-9077</a></div>
			</div>
			<div class="header-hours">
				<dl class="clearfix">
					<dt>Sun</dt>
					<dd>12-9</dd>
					<dt>Mon-Tue</dt>
					<dd>Closed</dd>
					<dt>Wed-Thu</dt>
					<dd>3-9</dd>
					<dt>Fri-Sat</dt>
					<dd>12-10</dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="container">
		<nav class="navbar navbar-light main-nav">
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/menu/">Menu</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/chef_bio/">Chef Bio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link-sublime" href="/brewing/">Sublime Brewing Company</a>
				</li>
			</ul>
		</nav>
	</div>
</header>