---
layout: default
title: Menu | The Last Chair
nav_title: Menu
nav_weight: 2
---
<div class="main">
  <div class="container">
    {% assign groups = site.menu_items | group_by: "category" %}
    {% for group in groups %}
    <div class="menu-section">
      <div class="menu-title">{{ group.name }}</div>
      {% if group.name == "Greens" %}
      <p class="text-xs-center"><em>Add grilled chicken to any salad 4</em></p>
      {% endif %}
       <div class="menu-title">{{ group.name }}</div>
      {% if group.name == "Sandwiches" %}
      <p class="text-xs-center"><em>Add grilled chicken to any salad 4</em></p>
      {% endif %}
      <div class="menu-items">
        {% for item in group.items %}
        <div class="menu-item">
          <h4>{{ item.title }} <span class="food-title-cost">{{ item.price }}</span></h4>
          {{ item.content }}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    <p class="text-xs-center"><small>* Consuming raw or undercooked meats, poultry, seafood, shellfish, or eggs may increase your risk of foodborne illness, especially if you have certain medical conditions.</small></p>
  </div>
</div>